@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  font-size: 85.2%;
}

#top_nav {
  background-color: #f9f9f9;
  border-bottom: 1px solid #cecece8a;
}

#top_nav li:first-child {
  border-left: 1px solid #cecece8a;
}

#top_nav li {
  display: inline-block;
  padding: .4rem;
  font-weight: 100;
  color: #ab8787;
  border-right: 1px solid #cecece8a;
}

#top_nav li > i {
  padding-right: .3rem;
  color: #ff1a1a;
}

#top_nav ul {
  text-align: right;
  margin: 0;
}

#top_nav ul li:first-child {
  border-left: 1px solid #cecece8a;
}

#top_nav ul li {
  display: inline-block;
  border-right: 1px solid #cecece8a;
}

#top_nav ul li a {
  text-decoration: none;
  padding: 1rem .2rem;
  color: #ff6666;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#top_nav ul li a:hover {
  color: #ff1a1a;
}

#main_nav {
  background: #b3ffff;
}

#main_nav .navbar-brand {
  color: #ff3333e0;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: bolder;
}

#main_nav .navbar-brand span {
  color: #99ccff;
}

#main_nav .ulNav {
  margin: 0;
  padding: 0;
}

#main_nav .ulNav li {
  display: inline-block;
}

#main_nav .ulNav li a {
  color: #ff6666;
  text-decoration: none;
  padding: 1.2rem 1rem;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

#main_nav .ulNav li a:hover {
  color: #ff1a1a;
}

#main_nav .ulNav li a::after {
  position: absolute;
  content: "";
  left: 3px;
  bottom: -6px;
  width: 0;
  height: .2rem;
  background: #ff6666;
  -webkit-transition: 0.5s cubic-bezier(0.33, 0.35, 0, 0.01);
  transition: 0.5s cubic-bezier(0.33, 0.35, 0, 0.01);
}

#main_nav .ulNav li a:hover:after {
  width: 100%;
}

.owl-carousel {
  width: 100%;
  height: 100vh;
}

.owl-carousel:hover .owl-prev {
  opacity: 1;
}

.owl-carousel:hover .owl-next {
  opacity: 1;
}

.owl-carousel .slide {
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.owl-carousel .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #5669ab;
  background: -webkit-gradient(linear, left top, right top, from(#5669ab), color-stop(63%, rgba(244, 4, 114, 0.134891)), to(#00d4ff));
  background: linear-gradient(90deg, #5669ab 0%, rgba(244, 4, 114, 0.134891) 63%, #00d4ff 100%);
}

.owl-carousel .slide .slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 16px 30px;
  text-align: center;
  color: #fff;
}

.owl-carousel .slide .slide-content h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.owl-carousel .slide .slide-content button {
  display: inline-block;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: .5rem;
  font-family: 'Roboto Condensed';
  background: #f0233e;
  color: #f9f9f9;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.owl-carousel .slide .slide-content button:hover span {
  padding-right: 25px;
}

.owl-carousel .slide .slide-content button:hover span::after {
  opacity: 1;
  right: 0;
}

.owl-carousel .slide .slide-content button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.owl-carousel .slide .slide-content button span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.owl-carousel .owl-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 2%;
}

.owl-carousel .owl-dots span {
  width: 30px !important;
  height: 5px !important;
}

.owl-carousel .owl-dots button {
  border: none !important;
  outline: none !important;
}

.owl-carousel .owl-nav {
  border: none !important;
  outline: none !important;
}

.owl-carousel .owl-nav button {
  border: none !important;
  outline: none !important;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #e6d2d6fb !important;
  font-size: 60px !important;
  background: none !important;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.owl-carousel .owl-prev {
  left: 3%;
}

.owl-carousel .owl-next {
  z-index: 1;
  right: 5%;
}
/*# sourceMappingURL=main.css.map */